<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="InventOn.DataSourceLayer"/>
    <assembly name="InventOn.BusinessLogicLayer"/>
    <assembly name="InventOn.PresentationLayer"/>
    <namespace name="InventOn.DataSourceLayer"/>
    <namespace name="InventOn.BusinessLogicLayer"/>
    <namespace name="InventOn.PresentationLayer"/>
    <containers>
      <container name="DatabaseService">
        <register type="IDataSourceConnectionService" mapTo="DatabaseSource"/>
        <register type="IBusinessLogicService" mapTo="BookBusinessLogic"/>
        <register type="IPresentationService" mapTo="ConsolePresentationService"/>
      </container>
      <container name="FileService">
        <register type="IDataSourceConnectionService" mapTo="FileSource"/>
        <register type="IBusinessLogicService" mapTo="BookBusinessLogic"/>
        <register type="IPresentationService" mapTo="ConsolePresentationService"/>
      </container>
    </containers>
  </unity>
</configuration>